*,html,body{
    margin: 0;
    padding: 0;
    background: rgb(65, 61, 61);
}

.title{
    color: rgb(232, 99, 16);
    /* align-content: center; */
    align-items: center;
    text-align: center;
}

.cont{
    /* background-color: rgb(65, 61, 61); */
    height: 400px;
    width: 500px;
    margin: auto auto;
    padding: 30px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center; 
    /* display:flex; */
    border-radius: 10px;
}

.disp{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    justify-items: center;
    align-items:center;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    height: 50px;
    width: 500px;
    background: white;
    border-radius: 10px;
}
.hr,.mints,.seconds{
    background: white;
}

.btns{
    margin-top:10%;
    gap: 30%;
    display: flex;
    justify-content: center;
}

.start{
    background: rgb(9, 191, 42);
    /* margin: 20px;  */
    padding: 20px;
    border-radius: 10px;
    border: 5px solid rgb(72, 233, 8);
   
}

.stop{
    background-color: rgb(236, 32, 32);
    /* margin: 20px; */
    padding: 20px;
    border-radius: 10px;
    border: 5px solid hsl(0, 100%, 50%);
}